body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom, #f8fbfd, #eef3f7);
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
  flex-wrap: wrap;
}
